{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ecomm/main/css/home.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecomm/main/js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="home">
        {# 首页顶部轮播 #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for swiper_img in swiper_imgs %}
                    <div class="swiper-slide">
                        <img src="{{ swiper_img.img }}" alt="{{ swiper_img.name }}">
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
        {# 首页顶部导航 #}
        <div class="topMenu">
            <nav>
                <ul>
                    {% for main_nav in nav_imgs %}
                        <li>
                            <img src="{{ main_nav.img }}" alt="{{ main_nav.name }}">
                            <span>{{ main_nav.name }}</span>
                        </li>
                    {% endfor %}

                </ul>
            </nav>
        </div>
        {# 首页必购 #}
        <div class="swiper-container" id="swiperMenu">
            <ul class="swiper-wrapper">
                {% for mustbuy_img in mustbuy_imgs %}
                    <li class="swiper-slide">
                        <img src="{{ mustbuy_img.img }}" alt="{{ mustbuy_img.name }}">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}